*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}

body {
    background-color: #EBECF0;
  }
  button, input {
    border: 0;
    outline: 0;
    font-size: 0.8em;
    border-radius: 20px;
    padding: 0.8em 1.5em;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #fff;
  }
.contact_form{
    display: flex;
    align-items: center;
    justify-content: center;
}
  label {
    display: block;
    margin-bottom: 24px;
    width: 20em;
  }
  label p{
    margin: 0.3em 0;
    font-size: 0.5em;
    margin-left: 0.9em;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    font-size: 0.8em;
  }
  input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 38%;
    padding: 0.6em 2em;
  }
  button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  h2{
    font-size: 1.2em;
    margin: 2em 0.4em;
    letter-spacing: 0.1em;
    line-height: 1em;
  }
  h2 span{
    font-size: 0.5em;
  }