*{
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
}

.content h1{
text-align: center;
padding: 6em 0 3em 0;
font-size: 1em;
letter-spacing: 0.6em;
color: #333333;
}



/*ヘッダー*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 200;
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 130px;
  background-color: #fff;
  transition: all .6s;
  z-index: 201;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 34px;
  height: 46px;
  cursor: pointer;
  z-index: 300;
  padding-right: 18px;
  border-radius: 13px;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
    padding: 0 3em;
}
.global-nav__item a {
  display: block;
  padding: 30px;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.4em;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 6px;
  width: 33px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all .6s;
}
.hamburger__line--1 {
  top: 22px;
}
.hamburger__line--2 {
  top: 25px;
}
.hamburger__line--3 {
  top: 30px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}

/*ナビ追記（SNSアイコン）*/
.nav_sns_icon ul{
background-color: brown;
}
.nav_sns_icon .fa-2x{
color: black;
font-size: 1.5em;
}
.nav_sns_icon ul{
margin: 3em;
}
.nav_sns_icon ul li{
list-style: none;
float: left;
margin: 0 1em;
}
.nav_sns_icon ul li a{
padding: 10px;
}
/*ナビ追記（ユウレイ特設サイト）*/
.yurei{
  /* padding: 3em; */
  display: inline-block;
  margin: 3em 3.8em;
  text-align: center;
}
.yurei p a{
text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: grey;
  padding: 1.3em;
  border-radius: 10px;
  font-size: 0.9em;
}

.home{
width: 100%;
height: 100vh;
background-color: rgb(241, 241, 241);
}
.home p{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 6.8em;
height: 3.2rem;
font-size: 1.7em;
letter-spacing: 0.3em;
font-family: 'Baloo Bhaijaan 2', cursive;
color: #333;
}

.profile{
  width: 100%;
  height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_text p{
  font-size: 0.85em;
  color: #333333;
  letter-spacing: 0.1em;
}

.link_text{
height: 200px;
}
.link_text ul li{
list-style: none;
float: left;
margin: 1.3em;
}
.link_text ul li a{
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 25%;
background: #e0e0e0;
box-shadow:  4px 4px 9px #9d9d9d,
           -4px -4px 9px #ffffff;

}
.link_text ul li a:hover{
color: #7c7c7c;
transition: all 0.3s ease 0s;
}
.link_text li a i{
  color: rgb(255, 255, 255);
font-size: 1.2em;
padding: 1em;
}
.name{
font-size: 1em;
margin: 0em 2em;
color: #000;
}
.name p {
  margin: 0.5em 3em;
  display: inline-block;
}
.link{
float: left;
width: 370px;
margin: 0 13px;
}
.link ul{
  margin-top: 2em;
}
.link ul li{
  margin: 0.5em 1em;
  float: left;
  list-style: none;
}
.link ul li p{
  text-align: center;
  color: rgb(85, 85, 85);
}
.link li a{
  background-size: cover;
  background-color: center center;
  display: block;
  background-size: cover;
  border-radius: 109px;
  margin: 1em;
background: #e0e0e0;
box-shadow:  4px 4px 9px #9d9d9d,
           -4px -4px 9px #ffffff;

}
.link li a i{
color: rgb(255, 255, 255);
font-size: 1.2em;
padding: 1em;
}
.link li a i:hover{
color: rgb(104, 104, 104);
transition: all 0.3s ease 0s;
}
.commission{
width: 100%;
height: 440px;
background-color: rgb(230, 230, 230);
}
.contact_form{
  width: 100%;
  height: 150vh;
  background-color: rgb(241, 241, 241);
}
.commission_text{
display: flex;
align-items: center;
justify-content: center;
}
.link_skeb a{
color: grey;
}
.link_skeb a:hover{
color: rgb(0, 0, 0);
transition: all 0.3s ease 0s;
}
.contact_form{
display: flex;
align-items: center;
justify-content: center;
}
.contact_form ul{
  margin-top: 5em;
}
.contact_form ul li{
list-style: none;
font-size: 0.7em;
margin: 1.5em;
font-weight: 600;
letter-spacing: 0.1em;
}
.contact_form ul li p{
margin: 0.2em 0;
font-size: 0.5em;
}
.commission ul p{
list-style: none;
margin: 1em 0;
letter-spacing: 0.2em;
font-size: 0.9em;
color: #333333;
}
h2{
  font-size: 1.2em;
  margin: 0 0.9em;
  letter-spacing: 0.1em;
  line-height: 1em;
}
.line_box{
  background-color: #333333;
  width: 1.7em;
  height: 3.2px;
  margin: 0.5em 0 0 0;
}
input{
  border: none;
  outline: none;
  width: 20em;
  border-radius: 7px;
  background: rgb(241, 241, 241);
  box-shadow: inset 3px 3px 5px #c1c1c1, inset -3px -3px 5px #ffffff;
}
::placeholder{
  color:rgb(197, 197, 197);
  font-size: 0.9em;
}
input[type="text"] { padding: 1em;}
textarea[type="message"] {
  border:none;
  border-radius: 7px;
  background: rgb(241, 241, 241);
  box-shadow: inset 3px 3px 5px #c1c1c1, inset -3px -3px 5px #ffffff;
  width: 20em;
  height: 7em;
  resize: none;
  padding: 1em;
}
#attachment label {
  /* ボタン部分の見た目（任意） */
  display: inline-block;
  position: relative;
  color: #333333;
  font-size: 0.6em;
  font-weight: 600;
  padding: 6px 18px;
  transition: all 0.3s;
  border-radius: 4px;
  background: rgb(241, 241, 241);
  box-shadow: 3px 3px 5px #c1c1c1, -3px -3px 5px #ffffff;
  left: 213px;
  top: -10px;
 }
 #attachment label:hover {
  border-radius: 4px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  3px 3px 5px #c1c1c1,
             -3px -3px 5px #ffffff;
  transition: all 0.4s;
 }
 #attachment label input {
  /* 今回のポイント */
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
  width: 100%;
  height: 100%;
 }
 #attachment .filename {
  font-weight: 16px;
  margin:0 0 0 10px;
 }
 
.commission ul p a{
font-weight: 600;
text-decoration: none;
}
.commission_text p i{
margin-right: 1em;
}
.form_link{
text-align: center;
margin-top: 4em;
}
.form_link p{
margin: 2em;
display: inline-block;
}
.form_link  a{
padding: 1em 5em;
}
/*マウスホバー時に色が変化*/
.form_link {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.form_link a {
width: 140px;
height: 45px;
font-size: 1em;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: rgb(143, 143, 143);
border: none;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;

border-radius: 52px;
background: #e0e0e0;
box-shadow:  9px 9px 21px #a6a6a6,
           -9px -9px 21px #ffffff;
}

.form_link a:hover {
  border-radius: 52px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  9px 9px 21px #9d9d9d,
               -9px -9px 21px #ffffff;
color: rgb(255, 255, 255);
transform: translateY(-7px);
}
/**/
.form_check{
font-size: 0.2em;
font-weight: 100;
}
.form_check ul li p span{
margin: 1em;
}
button{
display: inline-block;
vertical-align: middle;
margin: 30px 100px;
padding: 6px 25px;
font-weight: bold;
letter-spacing: 0.5pt;
text-decoration: none;
border: none;
cursor: pointer;
transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  -ms-transition-duration:0.3s;

  border-radius: 4px;
  background: rgb(241, 241, 241);
  box-shadow: 3px 3px 5px #c1c1c1, -3px -3px 5px #ffffff;

color: #333333;
} 
button p{
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
.gallery{
  width: 100%;
  height: 130vh;
  background-color: rgb(241, 241, 241);
}
.gallery_images {
display: flex;
align-items: center;
justify-content: center;
}
.gallery_images ul {
  margin: 0.4em;
}
.gallery_images ul li{
  background-color: rgb(170, 170, 170);
  width: 191px;
  height: 191px;
  margin: 0.3em;
  list-style: none;
  border-radius: 8px;
  float: left;
  box-shadow: 1px 1px 4px rgba(107, 107, 107, 0.548);
}
.pu-content{
width: 90%;
height: auto;
}
.pu-content img{
  width: 100%;
  border-radius: 8px;
}
.illust_more p{
  text-align: center;
  margin: 3em 0;
}
.illust_more p a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.6em 1.6em;
border-radius: 10px;
background: #e0e0e0;
box-shadow:  4px 4px 8px #bebebe,
             -4px -4px 8px #ffffff;
  letter-spacing: 0.1em;
}
@media screen and (min-width:768px) {
.gallery{
  height: 100vh;
}
.gallery_images ul{
  margin: 50px auto;
  width: 960px;
}
.gallery_images ul li{
  float: left;
  width: 280px;
  margin: 2%;
  border-radius: 20px;
}
/*フッター*/
footer{
position:relative;/*←絶対位置*/
bottom: 0; /*下に固定*/
width: 100%;
}
.footer{
  height: 2em;
  position: absolute;
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100px;
}
.footer p{
text-align: center;
color: rgb(0, 0, 0);
font-size: 0.7em;
margin: 5em 0 2em 0;
}